body {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

.navigation_content {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: 45px auto;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav_button {
    width: 175px;
    height: 58px;
    font-weight: 600;
    font-size: 16px;
    background-color: #E8EFF2;
    color: #162542;
    border: 1px solid #E8EFF2;
    border-radius: 10px;
}

.hero_section {
    display: grid;
    grid-template-columns: 445px 540px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    justify-content: end;
    margin-left: 330px;
}

.hero_img {
    width: 540px;
    height: 480px;
    border-radius: 10px;
}

.hero_color {
    
}